#carouselExampleIndicators{
    width:80%;
    margin: auto;
}
.backportofolio{
    background-color:#34495E;
    height: 600px;
}
.backSkills{
    height: 450px;
}
.cardContent{
    margin-left: 12% !important;
}
.formBackground{
    background-color:#34495E;
}